/* Container layout */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: "Dubai Light", sans-serif;
  color: black;
  background: rgba(255, 255, 255, 0.7);
}

/* Headings */
h1 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: bold;
  text-align: center;
}

/* Paragraph styling */
p {
  line-height: 1.6;
  font-size: 1.05rem;
  margin-bottom: 2rem;
}


/* Mobile adjustments */
@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 1.9rem;
  }
}
