/*body {*/
/*  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg");*/
/*  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
/*  background-size: cover;*/
/*}*/
