body {
  background-image: url("https://img.freepik.com/premium-photo/closeup-brown-leaves-background_687801-1595.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
