body {
  background-image: url("https://ayala-olier-photography.onrender.com/images/background.JPG");
  /*background-image: url("http://localhost:4200/images/background.JPG");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*gallery image pop up styling*/
#popup-overlay {
  touch-action: none;
  overscroll-behavior: contain;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.popup-container {
  position: relative;
  max-width: 92vw;
  max-height: 100vh;
  box-sizing: border-box;
}

.full-photo {
  display: block;
  border-radius: 4px;
}

.close-btn {
  all: unset;
  position: absolute;
  top: 5%;
  right: 3%;

  width: 24px;
  height: 24px;
  padding-top: 2px;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.45);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.9;
}

.close-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Mobile adjustments */
@media (max-width: 480px) {
  .full-photo {
    max-width: 480px;
  }

  .close-btn {
    padding: 0;
  }
}
